DuoSoftPhone-V5.1/DuoSoftware.DuoSoftPhone/Service References/refCcDispatch/CCDispatcher2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.1.215/DuoSubscribe5/ContactV5Services/CCDispatchService/CCDispatcher.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFServicesAPI" />
  <xs:import schemaLocation="http://192.168.1.215/DuoSubscribe5/ContactV5Services/CCDispatchService/CCDispatcher.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DS.DC.CCDispatchService.CCDispatchDataContracts" />
  <xs:element name="SendFax">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="toFaxNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fromFaxNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="filename" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="securityToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendFaxResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendFaxResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CallMonitorOpRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="destination" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="protocol" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFServicesAPI" minOccurs="0" name="bargeMethod" type="q1:BargeMethod" />
        <xs:element minOccurs="0" name="securityToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CallMonitorOpRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CallMonitorOpRequestResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisconnectCall">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="securityToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisconnectCallResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DisconnectCallResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConferenceDial">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="confRoomName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dialUser" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="securityToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConferenceDialResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConferenceDialResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LockConferenceRoom">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="confRoomName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="securityToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LockConferenceRoomResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LockConferenceRoomResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnlockConferenceRoom">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="confRoomName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="securityToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnlockConferenceRoomResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UnlockConferenceRoomResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PlayConference">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="securityToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="roomName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFServicesAPI" minOccurs="0" name="operation" type="q2:PlaydOperation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PlayConferenceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PlayConferenceResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecordConference">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="securityToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="roomName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCFServicesAPI" minOccurs="0" name="operation" type="q3:RecordOperation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecordConferenceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RecordConferenceResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RelateConference">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="securityToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="roomName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="usrId1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="usrId2" nillable="true" type="xs:string" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WCFServicesAPI" minOccurs="0" name="option" type="q4:RelatedOption" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RelateConferenceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RelateConferenceResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetMaxConfMember">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="securityToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="roomName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="maxUsrs" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetMaxConfMemberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetMaxConfMemberResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConferenceUserOperation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="securityToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sessionId" nillable="true" type="xs:string" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WCFServicesAPI" minOccurs="0" name="usrOp" type="q5:UserOperation" />
        <xs:element minOccurs="0" name="roomName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConferenceUserOperationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConferenceUserOperationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MemberAdded">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="roomName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="roomUuid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userUuid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sessionId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="crn" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="securityToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MemberAddedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MemberAddedResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMemberOperation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="roomName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="crn" nillable="true" type="xs:string" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/DS.DC.CCDispatchService.CCDispatchDataContracts" minOccurs="0" name="action" type="q6:ConferenceUserAction" />
        <xs:element minOccurs="0" name="securityToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMemberOperationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateMemberOperationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMemberStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="roomName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="crn" nillable="true" type="xs:string" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/DS.DC.CCDispatchService.CCDispatchDataContracts" minOccurs="0" name="status" type="q7:ConferenceUserStatus" />
        <xs:element minOccurs="0" name="securityToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMemberStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateMemberStatusResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateConferenceUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="roomName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="usrPinId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="crn" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="securityToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateConferenceUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/DS.DC.CCDispatchService.CCDispatchDataContracts" minOccurs="0" name="ValidateConferenceUserResult" nillable="true" type="q8:ConfUserValidationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetActiveTalker">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="roomName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="crn" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="securityToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetActiveTalkerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetActiveTalkerResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>