DuoSoftPhone-V5.1-VIBlend/DuoSoftware.DuoSoftPhone/Service References/refCommonData/CommonData1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.1.215/DuoSubscribe5/V5Services/Duosoftware.CommonData/CommonData.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Duosoftware.Duobase.Contracts" />
  <xs:import schemaLocation="http://192.168.1.215/DuoSubscribe5/V5Services/Duosoftware.CommonData/CommonData.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="saveCommonDataRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Duosoftware.Duobase.Contracts" minOccurs="0" name="recordData" nillable="true" type="q1:CommonDataRecord" />
        <xs:element minOccurs="0" name="securityToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="saveCommonDataRecordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="saveCommonDataRecordResult" nillable="true" type="q2:ArrayOfKeyValueOfstringanyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSpecificCommonDataRecordByCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="recordCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="securityToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSpecificCommonDataRecordByCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Duosoftware.Duobase.Contracts" minOccurs="0" name="getSpecificCommonDataRecordByCodeResult" nillable="true" type="q3:CommonDataRecord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllCommonDataRecords">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sinceID" type="xs:long" />
        <xs:element minOccurs="0" name="securityToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllCommonDataRecordsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Duosoftware.Duobase.Contracts" minOccurs="0" name="getAllCommonDataRecordsResult" nillable="true" type="q4:ArrayOfCommonDataRecord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Duosoftware.Duobase.Contracts" minOccurs="0" name="TableData" nillable="true" type="q5:DynamicTable" />
        <xs:element minOccurs="0" name="securityToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTableResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InserTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Query" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="securityToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InserTableResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TableName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SecurityToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetDataResult" nillable="true" type="q6:ArrayOfArrayOfKeyValueOfstringanyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckTableExists">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TableName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SecurityToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckTableExistsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckTableExistsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetColumnData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="FirstSet" nillable="true" type="q7:ArrayOfKeyValueOfColumnColumn5oN8bcPt" />
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="SecondSet" nillable="true" type="q8:ArrayOfKeyValueOfColumnColumn5oN8bcPt" />
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ThirdSet" nillable="true" type="q9:ArrayOfKeyValueOfColumnColumn5oN8bcPt" />
        <xs:element minOccurs="0" name="TableName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SecurityToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetColumnDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetColumnDataResult" nillable="true" type="q10:ArrayOfArrayOfKeyValueOfstringanyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAnyData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="InputVal" nillable="true" type="q11:ArrayOfKeyValueOfstringstring" />
        <xs:element minOccurs="0" name="OutColumn" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TableName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SecurityToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAnyDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetAnyDataResult" nillable="true" type="q12:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Duosoftware.Duobase.Contracts" minOccurs="0" name="TableData" nillable="true" type="q13:DynamicTable" />
        <xs:element minOccurs="0" name="securityToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertDataResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataSetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SQL" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PageNumber" type="xs:int" />
        <xs:element minOccurs="0" name="PageSize" type="xs:int" />
        <xs:element minOccurs="0" name="SecurityToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataSetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Duosoftware.Duobase.Contracts" minOccurs="0" name="GetDataSetDataResult" nillable="true" type="q14:DataSetData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDuobase">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Duosoftware.Duobase.Contracts" minOccurs="0" name="data" nillable="true" type="q15:DataSetData" />
        <xs:element minOccurs="0" name="TableName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SecurityToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDuobaseResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="oldvalues" nillable="true" type="q16:ArrayOfKeyValueOfstringstring" />
        <xs:element xmlns:q17="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="newvalues" nillable="true" type="q17:ArrayOfKeyValueOfstringstring" />
        <xs:element minOccurs="0" name="tablename" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SecurityToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateDataResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="values" nillable="true" type="q18:ArrayOfKeyValueOfstringstring" />
        <xs:element minOccurs="0" name="tablename" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SecurityToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteDataResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>