DuoSoftPhone-V5.1-VIBlend/DuoSoftware.DuoSoftPhone/Service References/refResourceMonitoring/ResourceMonitoring1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/DuoSoftware.DC.ResourceMonitoringService.Classes" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DuoSoftware.DC.ResourceMonitoringService.Classes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.2.35/DUOSLTV5/ContactV5Services/ResourceMonitoring/Implementation/ResourceMonitoring.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://192.168.2.35/DUOSLTV5/ContactV5Services/ResourceMonitoring/Implementation/ResourceMonitoring.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfOnLineAgent">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OnLineAgent" nillable="true" type="tns:OnLineAgent" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOnLineAgent" nillable="true" type="tns:ArrayOfOnLineAgent" />
  <xs:complexType name="OnLineAgent">
    <xs:sequence>
      <xs:element minOccurs="0" name="AgentCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AgentFullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AgentStatus" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="AssignSkills" nillable="true" type="q1:ArrayOfstring" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="AssignedRequest" nillable="true" type="q2:ArrayOfstring" />
      <xs:element minOccurs="0" name="CallAcceptStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CallStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Category" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Class" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ConcurrencyInfo" nillable="true" type="tns:ArrayOfConcurrencyDetails" />
      <xs:element minOccurs="0" name="DeviceURI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Duration" type="ser:duration" />
      <xs:element minOccurs="0" name="Extention" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastServedSkill" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModeDuration" type="ser:duration" />
      <xs:element minOccurs="0" name="StateDuration" type="ser:duration" />
      <xs:element minOccurs="0" name="StatusReason" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OnLineAgent" nillable="true" type="tns:OnLineAgent" />
  <xs:complexType name="ArrayOfConcurrencyDetails">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ConcurrencyDetails" nillable="true" type="tns:ConcurrencyDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfConcurrencyDetails" nillable="true" type="tns:ArrayOfConcurrencyDetails" />
  <xs:complexType name="ConcurrencyDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="Assigned" type="xs:int" />
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="AssignedItems" nillable="true" type="q3:ArrayOfstring" />
      <xs:element minOccurs="0" name="Current" type="xs:int" />
      <xs:element minOccurs="0" name="Max" type="xs:int" />
      <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="QueuedItems" nillable="true" type="q4:ArrayOfstring" />
      <xs:element minOccurs="0" name="RequestType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConcurrencyDetails" nillable="true" type="tns:ConcurrencyDetails" />
</xs:schema>