DuoSoftPhone-V5.1-VIBlend/DuoSoftware.DuoSoftPhone/Service References/refResourceMonitoring/ResourceMonitoring.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.2.35/DUOSLTV5/ContactV5Services/ResourceMonitoring/Implementation/ResourceMonitoring.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DuoSoftware.DC.ResourceMonitoringService.Classes" />
  <xs:import schemaLocation="http://192.168.2.35/DUOSLTV5/ContactV5Services/ResourceMonitoring/Implementation/ResourceMonitoring.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetOnlineAgentList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="securityToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOnlineAgentListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DuoSoftware.DC.ResourceMonitoringService.Classes" minOccurs="0" name="GetOnlineAgentListResult" nillable="true" type="q1:ArrayOfOnLineAgent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCommunicationFaultedAgentList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="securityToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCommunicationFaultedAgentListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DuoSoftware.DC.ResourceMonitoringService.Classes" minOccurs="0" name="GetCommunicationFaultedAgentListResult" nillable="true" type="q2:ArrayOfOnLineAgent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOnlineAgentDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="securityToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="guUserId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOnlineAgentDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DuoSoftware.DC.ResourceMonitoringService.Classes" minOccurs="0" name="GetOnlineAgentDetailResult" nillable="true" type="q3:OnLineAgent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOnlineIdleAgentList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="securityToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOnlineIdleAgentListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DuoSoftware.DC.ResourceMonitoringService.Classes" minOccurs="0" name="GetOnlineIdleAgentListResult" nillable="true" type="q4:ArrayOfOnLineAgent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeAgentSkills">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="securityToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="guUserId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeAgentSkillsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ChangeAgentSkillsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogoffAgent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="securityToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="guUserId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogoffAgentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LogoffAgentResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOnlineAgentsBySkills">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="securityToken" nillable="true" type="xs:string" />
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="skillIds" nillable="true" type="q5:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOnlineAgentsBySkillsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/DuoSoftware.DC.ResourceMonitoringService.Classes" minOccurs="0" name="GetOnlineAgentsBySkillsResult" nillable="true" type="q6:ArrayOfOnLineAgent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>