DuoSoftPhone-V5.1-VIBlend/DuoSoftware.DuoSoftPhone/Service References/refUserAuth/auth1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.51.61/DUOSLTV5/CommonServices/Authorization/auth.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DuoAuthSvr" />
  <xs:import schemaLocation="http://192.168.51.61/DUOSLTV5/CommonServices/Authorization/auth.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://192.168.51.61/DUOSLTV5/CommonServices/Authorization/auth.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/Message" />
  <xs:element name="getMD5Hash">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="input" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMD5HashResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getMD5HashResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClearLocks">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClearLocksResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CompanyID" type="xs:int" />
        <xs:element minOccurs="0" name="Appliaction" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="loginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DuoAuthSvr" minOccurs="0" name="loginResult" nillable="true" type="q1:UserAuth" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Processlogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SecurityToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessloginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DuoAuthSvr" minOccurs="0" name="ProcessloginResult" nillable="true" type="q2:UserAuth" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Applogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AppliactionKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CompanyID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApploginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DuoAuthSvr" minOccurs="0" name="ApploginResult" nillable="true" type="q3:UserAuth" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccess">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SecurityToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AccessCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccessResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DuoAuthSvr" minOccurs="0" name="GetAccessResult" nillable="true" type="q4:UserAuth" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetAccessCompany">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SecurityToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Comapany" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetAccessCompanyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetAccessCompanyResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetWriteAccess">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SecurityToken" nillable="true" type="xs:string" />
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Records" nillable="true" type="q5:ArrayOfdecimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetWriteAccessResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetWriteAccessResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessloginForWrite">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SecurityToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Records" nillable="true" type="q6:ArrayOfdecimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessloginForWriteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/DuoAuthSvr" minOccurs="0" name="ProcessloginForWriteResult" nillable="true" type="q7:UserAuth" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetViewObjectList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CompanyID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetViewObjectListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/DuoAuthSvr" minOccurs="0" name="GetViewObjectListResult" nillable="true" type="q8:ArrayOfViewObjects" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAccountContracts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SecurityToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAccountContractsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/DuoAuthSvr" minOccurs="0" name="getAccountContractsResult" nillable="true" type="q9:ArrayOfAccountContracts" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogOut">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SecurityToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogOutResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveLicense">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.microsoft.com/Message" name="file" type="q10:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveLicenseResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateLicense">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateLicenseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidateLicenseResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccessCompany">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SecurityToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccessCompanyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetAccessCompanyResult" nillable="true" type="q11:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Lock">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SecurityToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LockResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LockResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Release">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SecurityToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReleaseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReleaseResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>