IFrames/DuoSoftware.DuoSoftPhone/Service References/RefResourceChecker/ResourceStatusChecker43.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.2.35/DUOSLTV5/ContactV5Services/ResourceMonitoring/Implementation/ResourceStatusChecker.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DuoSoftware.DC.ResourceMonitoringService.Enums" />
  <xs:import schemaLocation="http://192.168.2.35/DUOSLTV5/ContactV5Services/ResourceMonitoring/Implementation/ResourceStatusChecker.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DuoSoftware.DC.ResourceMonitoringService.Classes" />
  <xs:element name="CheckCurrentState">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="securityToken" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DuoSoftware.DC.ResourceMonitoringService.Enums" minOccurs="0" name="currentStatus" type="q1:UiStatus" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DuoSoftware.DC.ResourceMonitoringService.Enums" minOccurs="0" name="currentMode" type="q2:UiModes" />
        <xs:element minOccurs="0" name="sequenceNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckCurrentStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DuoSoftware.DC.ResourceMonitoringService.Classes" minOccurs="0" name="CheckCurrentStateResult" type="q3:StatusReply.Info" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>